# Dict (Dictionary)

Similar to actual dictionaries

Dictionaries can be thought of as being composed of two lists combined â€“ a list of keys and a list values:

|   keys  |    values   |
|:-------:|:-----------:|
|   one   |     uno     |
|   two   |     dos     |
|  three  |    tres     |
|  four   |   cuatro    |
|  five   |   cinco     |

In [ ]:
# Declare a list with English number words
numbers = ["one", "two", "three", "four", "five"]

# Declare a dictionary mapping English numbers to Spanish numbers
spanish_numbers = {
    "one": "uno",
    "two": "dos",
    "three": "tres",
    "four": "cuatro",
    "five": "cinco"
}

# Print the spanish_numbers_dict
print( spanish_numbers )

# Print the spanish for two
print( spanish_numbers["two"] )

dos

In [3]:
spanish_numbers = {
    1: "uno",
    2: "dos",
    3: "tres",
    4: "cuatro",
    5: "cinco"
}
spanish_numbers[5]

'cinco'

In [ ]:
numbers = ["one", "two", "three", "four", "five"]
print( numbers[0] )

In [ ]:
#keys can be anything that can be hashable
# i.e. loosely: "if it can't change it can be a key"

#here using tuples
spanish_numbers = {
    (1, "one"): "1, uno",
    (2,"two") : "2, dos",
    (3,"three"): "3, tres",
    (4,"four"): "cuatro",
    (5,"five"): "cinco"
}
spanish_numbers[(3,"three")]

'3, tres'

In [ ]:
spanish_numbers = {
    [1, "one"]: "1, uno" #trying to key on a list
}
#Error

In [8]:
nums = {
         1: "uno"
        ,1: "one" 
}

nums[1] #two keys same (no recommended) need unique

'one'

In [14]:
nums = {
         "one": "unosaldafjlfjdaskjfaldfjadslfjadsljfaljdfsaljfaldjsflasjflasjdf;lajskfdl"
        ,"two": "two" 
}

nums2 = {
         "one": "unosaldafjlfjdaskjfaldfjadslfjadsljfaljdfsaljfaldjsflasjflasjdf;lajskfdl"
        ,"two": "two" 
}

print(id(nums), id(nums["one"]), nums["one"])
print(id(nums2), id(nums2["one"]), nums2["one"])

2380492934016 2380491276848 unosaldafjlfjdaskjfaldfjadslfjadsljfaljdfsaljfaldjsflasjflasjdf;lajskfdl
2380492938496 2380489729456 unosaldafjlfjdaskjfaldfjadslfjadsljfaljdfsaljfaldjsflasjflasjdf;lajskfdl

In [18]:
spanish_numbers = {
    "one": "uno",
    "five": "cinco",
    "three": "tres",
    "four": "cuatro",
    "two" : "dos",
}

print(spanish_numbers.popitem())
print(spanish_numbers.popitem())
print(spanish_numbers.popitem())
print(spanish_numbers.popitem())

('two', 'dos')
('four', 'cuatro')
('three', 'tres')
('five', 'cinco')

In [21]:
#  Dict: keys, values and items
spanish_numbers = {
    "one": "uno",
    "two": "dos",
    "three": "tres",
    "four": "cuatro",
    "five": "cinco"
}

# print( spanish_numbers.keys() )
numbers_view = spanish_numbers.keys()

print(numbers_view)

dict_keys(['one', 'two', 'three', 'four', 'five'])

In [24]:
spanish_numbers["six"]= "seis"
print(numbers_view)

dict_keys(['one', 'two', 'three', 'four', 'five', 'six'])

In [25]:
print( spanish_numbers.values() )

dict_values(['uno', 'dos', 'tres', 'cuatro', 'cinco', 'seis'])

In [26]:
print( spanish_numbers.items() )

dict_items([('one', 'uno'), ('two', 'dos'), ('three', 'tres'), ('four', 'cuatro'), ('five', 'cinco'), ('six', 'seis')])

In [27]:
# We can add new values by just assigning to them
# NOTE: if the key already exists, the value will be overwritten
spanish_numbers = {
    "one": "uno",
    "two": "dos",
    "three": "tres",
    "four": "cuatro",
    "five": "cinco"
}

print(f"before: {spanish_numbers}")
spanish_numbers["two"] = "dos actualizado"      
print(f" after: {spanish_numbers}")

before: {'one': 'uno', 'two': 'dos', 'three': 'tres', 'four': 'cuatro', 'five': 'cinco'}
 after: {'one': 'uno', 'two': 'dos actualizado', 'three': 'tres', 'four': 'cuatro', 'five': 'cinco'}

In [28]:
spanish_numbers = {
    "one": "uno",
    "two": "dos",
    "three": "tres",
    "four": "cuatro",
    "five": "cinco"
}

print(f"before: {spanish_numbers}")
spanish_numbers["six"] = "seis"                 
print(f" after: {spanish_numbers}")

before: {'one': 'uno', 'two': 'dos', 'three': 'tres', 'four': 'cuatro', 'five': 'cinco'}
 after: {'one': 'uno', 'two': 'dos', 'three': 'tres', 'four': 'cuatro', 'five': 'cinco', 'six': 'seis'}

In [29]:
spanish_numbers = {
    "one": "uno",
    "two": "dos",
    "three": "tres",
    "four": "cuatro",
    "five": "cinco"
}

print(f"before: {spanish_numbers}")
removed_value = spanish_numbers.pop("four")     
print(f" after: {spanish_numbers}")

before: {'one': 'uno', 'two': 'dos', 'three': 'tres', 'four': 'cuatro', 'five': 'cinco'}
 after: {'one': 'uno', 'two': 'dos', 'three': 'tres', 'five': 'cinco'}

In [30]:
print(removed_value)

cuatro

# Dictionary properties:

- Values are mapped to keys
- Values are accessed by their corresponding key
- Key are unique and are immutable
- Multiple keys can have the same values, values can be anything (including mutable types like lists) 
- Values cannot exist without a key

In [31]:
my_dict = {}

a_list = [1,2,3]
a_list.remove(2)   
print(a_list)

[1, 3]

In [34]:
my_dict = {}
a_list = (1,2,3)   #immutable OK for key

my_dict[ a_list ] = "one,two,three"
my_dict

{(1, 2, 3): 'one,two,three'}

In [37]:
my_dict = {}
a_tup = (1,['a','b'],3)   #not OK tuple with 'mutable' element

my_dict[ a_tup ] = "one,two,three"
my_dict

TypeError: unhashable type: 'list'

In [43]:
# Note that trying to access a key that doesn't exist will raise an error:
# spanish_numbers["eight"]  # raises KeyError
spanish_numbers = {
    "one": "uno",
    "two": "dos",
    "three": "tres",
    "four": "cuatro",
    "five": "cinco"
}

test = spanish_numbers["eight"]   #uncomment and see error

KeyError: 'eight'

In [39]:
# get('key') to prevent a KeyError....
spanish_numbers = {
    "one": "uno",
    "two": "dos",
    "three": "tres",
    "four": "cuatro",
    "five": "cinco"
}

test = spanish_numbers.get('eight')
print(test)

None

In [45]:
#get('key', 'default'): default-value: value you want back in case it doesn't exist
test = spanish_numbers.get('eight', 'not found')
test

'not found'

In [47]:
# The dict `.get()` method can be used to prevent a key error
#   by providing a default value in the case the key doesn't exist

check = "eight"
returned = spanish_numbers.get("eight", "search term  not found!") #no KeyError (crash)
print( returned )

search term  not found!

In [48]:
# If we use the `.get()` method without a default value ( it defaults to None)
print(spanish_numbers.get("eight"))

None

#### creating dictionaries... example Lunar New Year

In [50]:
#Example:
# e.g. two same length lists
years   = [2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034, 2035]
animals = ['Dragon', 'Snake', 'Horse', 'Goat', 'Monkey', 'Rooster', 'Dog', 'Pig', 'Rat', 'Ox', 'Tiger', 'Rabbit']

# print( len(years), len(animals))  # will print 12, 12 (e.g. same length)


# create a dict of lunar new years: year=>animal
# _one_ way...

animal_calendar = {}                 #create dict

for i in range(len(years)):         #loop to fill
    year    = years[i]
    animal  = animals[i]

    animal_calendar[year] = animal

print(animal_calendar)

{2024: 'Dragon', 2025: 'Snake', 2026: 'Horse', 2027: 'Goat', 2028: 'Monkey', 2029: 'Rooster', 2030: 'Dog', 2031: 'Pig', 2032: 'Rat', 2033: 'Ox', 2034: 'Tiger', 2035: 'Rabbit'}

In [51]:
# it works...
print ("2023: the year of the : ", animal_calendar[2028])
print ("2028: the year of the : ", animal_calendar[2031])

2023: the year of the :  Monkey
2028: the year of the :  Pig

In [54]:
#another way:
# part 1: zip
years   = [2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034]
animals = ['Rabbit', 'Dragon','Snake','Horse', 'Goat', 'Monkey', 'Rooster', 'Dog', 'Pig', 'Rat', 'Ox', 'Tiger']

# recap zip() function
zipped = zip(animals, years)
#zip
#loop over zipped
for item in zipped:
    print(item)

('Rabbit', 2023)
('Dragon', 2024)
('Snake', 2025)
('Horse', 2026)
('Goat', 2027)
('Monkey', 2028)
('Rooster', 2029)
('Dog', 2030)
('Pig', 2031)
('Rat', 2032)
('Ox', 2033)
('Tiger', 2034)

In [55]:
#part 2: dict()
print( type( {} ) )  #type of an empty dict

<class 'dict'>

In [60]:
# exploring dict type with 
#  dir() and help()
# dir(dict)
# help(dict.fromkeys)

Help on built-in function fromkeys:

fromkeys(iterable, value=None, /) method of builtins.type instance
    Create a new dictionary with keys from iterable and values set to value.

In [64]:
my_dict = {1:'a', 2:'b'}
new_dict = dict.fromkeys(my_dict, 0)

print( id(my_dict), my_dict)
print( id(new_dict), new_dict)

2380486960128 {1: 'a', 2: 'b'}
2380493031168 {1: 0, 2: 0}

In [65]:
my_dict = dict()
print( my_dict, type(my_dict) )

{} <class 'dict'>

In [71]:
# Using above...
years   = [2023, 2024, 2025, 2026, 2027, 2028, 2029, 2030, 2031, 2032, 2033, 2034]
animals = ['Rabbit', 'Dragon','Snake','Horse', 'Goat', 'Monkey', 'Rooster', 'Dog', 'Pig', 'Rat', 'Ox', 'Tiger']

# using dict() and zip() combined
animal_calendar = dict( zip(years, animals) )
print(animal_calendar)
search_year = 2056
print(f"{search_year} is the year of the  {animal_calendar.get(search_year, 'year not found')}" )

{2023: 'Rabbit', 2024: 'Dragon', 2025: 'Snake', 2026: 'Horse', 2027: 'Goat', 2028: 'Monkey', 2029: 'Rooster', 2030: 'Dog', 2031: 'Pig', 2032: 'Rat', 2033: 'Ox', 2034: 'Tiger'}
2056 is the year of the  year not found

In [72]:
#the .update( :dict )
animal_calendar = {2023: 'Rabbit', 2024: 'Dragon', 2025: 'Snake', 2026: 'Horse'} 
print(f"before: {animal_calendar=}")
animal_calendar.update( {2027: 'Goat', 2028: 'Monkey', 2029: 'Rooster', 2030: 'Dog'} )
print(f" after: {animal_calendar=}")

before: animal_calendar={2023: 'Rabbit', 2024: 'Dragon', 2025: 'Snake', 2026: 'Horse'}
 after: animal_calendar={2023: 'Rabbit', 2024: 'Dragon', 2025: 'Snake', 2026: 'Horse', 2027: 'Goat', 2028: 'Monkey', 2029: 'Rooster', 2030: 'Dog'}

In [77]:
#the .update() - adding an entry with a single dict-item as a dict itself

animal_calendar = {2023: 'Rabbit', 2024: 'Dragon', 2025: 'Snake', 2026: 'Horse'} 
# animal_calendar[2029] = "Rooster"
animal_calendar.update( {2029 : 'Rooster'} )

print(animal_calendar)

{2023: 'Rabbit', 2024: 'Dragon', 2025: 'Snake', 2026: 'Horse', 2029: 'Rooster'}

In [78]:
# Example of .pop( ) on a Lunar New Year dict
#
animal_calendar = {2023: 'Rabbit', 2024: 'Dragon', 2025: 'Snake', 2026: 'Horse'} 
print(f"before: {animal_calendar=}")
animal_calendar[ 2022 ] = 'Salmon'
print(f" after bad insert: {animal_calendar=}")

print("\n\n",'*'*50)
print("removing: joke value")
returned = animal_calendar.pop(2022)
print(f" after pop: {animal_calendar=}")
print ( returned )


#TASK: 
#What else can we do:
# dir(dict) # uncomment, run and explore with help(dict.popitem), for example

before: animal_calendar={2023: 'Rabbit', 2024: 'Dragon', 2025: 'Snake', 2026: 'Horse'}
 after bad insert: animal_calendar={2023: 'Rabbit', 2024: 'Dragon', 2025: 'Snake', 2026: 'Horse', 2022: 'Salmon'}


 **************************************************
removing: joke value
 after pop: animal_calendar={2023: 'Rabbit', 2024: 'Dragon', 2025: 'Snake', 2026: 'Horse'}
Salmon

In [79]:
# about dict and popitem()
animal_calendar = {2023: 'Rabbit', 2024: 'Dragon', 2025: 'Snake', 2026: 'Horse'} 

print(len(animal_calendar))

print( animal_calendar.popitem() )
print( animal_calendar.popitem() )

## See below link: for interest/knowledge: from Python 3.7
##https://stackoverflow.com/questions/60848/how-do-you-retrieve-items-from-a-dictionary-in-the-order-that-theyre-inserted

4
(2026, 'Horse')
(2025, 'Snake')

In [83]:
#A nicer print than the default with
# for key, value ... items()

lunar_new_year = {2023: 'Rabbit', 2024: 'Dragon', 2025: 'Snake', 2026: 'Horse'} 

print(lunar_new_year)
for x, y in lunar_new_year.items():
    print(f"{x}: {y}")

#compare to print( dict ) output

{2023: 'Rabbit', 2024: 'Dragon', 2025: 'Snake', 2026: 'Horse'}
2023: Rabbit
2024: Dragon
2025: Snake
2026: Horse

In [ ]:
#What else can we do:
# dir(dict) # uncomment, run and explore with help(dict.fromkeys), for example
dir(dict)
help(dict.fromkeys)

In [84]:
# Example: part1: string
import string
# dir(string)
print( string.ascii_lowercase )

abcdefghijklmnopqrstuvwxyz

In [85]:
# Example: part2: dict.fromkeys()
a_list = [1,2,3]
result = dict.fromkeys(a_list, 0)
print(result)

{1: 0, 2: 0, 3: 0}

In [ ]:
# TASK:
# Example: count of all letters in a text
import string

#create a dict with 
#   a) all letters of alphabet as keys
#   b) values set to zero for each

# sample text
text = "abba ace"

#use the dict to store a count of
#   all letters in the text

In [ ]:
#CHALLENGE:
# Imagine dict of questions/answers
""" 
{
        questions:
            "question" : "answer",
            "question" : "answer",
        invalidQuestions: 
            "question" : "answer",
            "question" : "answer",      
    }
"""

question_bank = {
             "questions": { "q1":"q1answer",   "q2":"q2answer" }
    ,"invalid_questions": {"eq1":"eq1answer", "eq2":"eq2answer" }
}


# how to add to questions / invalid-questions...

# Sets
Sets are like lists, but where the order doesn't matter.

Without order, we cannot index or slice a set at all.

This also means there cannot be duplicates - adding the same value a second time will be ignored.

In [1]:
nums = [1, 3, 5, 2, 3, 5, 1, 6]
num_set = set(nums)
print(num_set)

{1, 2, 3, 5, 6}

In [2]:
#another way using '{' and '}'
my_set = {"a", "a", "b", "c"}
my_set

{'a', 'b', 'c'}

In [3]:
#try indexing...
my_set[1]

TypeError: 'set' object is not subscriptable

In [4]:
list_ = ["a", "b", "c"]
list_[1]

'b'

In [11]:
s = set()
# dir(s)
# help(set.remove)
# help(set.pop)

In [17]:
# what does remove return
l = ["a", "b", "a", "c"]
s = set(l)
s.remove("c")
s

{'a', 'b'}

In [18]:
s = {"a", "b", "a", "c"}
returned = s.remove("c")
print(returned)

None

In [24]:
# help( s.pop )

In [29]:
#what does pop return
s = {"a", "b",  "d",  "c"}
element = s.pop()
element, s

('d', {'a', 'b', 'c'})

In [30]:
nums = [1, 3, 5, 2, 3, 5, 1, 6]
num_set = set(nums)
print(num_set)


while len(num_set) > 0:
    popped = num_set.pop()
    print(popped, num_set)

print("removed all set elements")

{1, 2, 3, 5, 6}
1 {2, 3, 5, 6}
2 {3, 5, 6}
3 {5, 6}
5 {6}
6 set()
removed all set elements

In [31]:
some_text = "Under the shade of the willow tree."
set_text = set(some_text)
print( set_text )

{'a', 'f', 'l', 'e', 'r', ' ', 'o', 'i', 'n', 'w', 'U', '.', 'd', 'h', 's', 't'}

In [33]:
help(set.add)

Help on method_descriptor:

add(...)
    Add an element to a set.

    This has no effect if the element is already present.

In [34]:
# We create sets similarly to lists, but with curly braces (just like dicts):
fruits = {"apple", "banana", "apricot"}

# We can add an item with `.add()`:
fruits.add("mango")
print(fruits)

{'apricot', 'banana', 'apple', 'mango'}

In [35]:
# Quiz - what would happen if we repeat this?
print(fruits)
fruits.add("mango")
print(fruits)

{'apricot', 'banana', 'apple', 'mango'}
{'apricot', 'banana', 'apple', 'mango'}

In [36]:
help(set.remove)

Help on method_descriptor:

remove(...)
    Remove an element from a set; it must be a member.

    If the element is not a member, raise a KeyError.

In [43]:
dir(set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [44]:
help(set.discard)

Help on method_descriptor:

discard(...)
    Remove an element from a set if it is a member.

    Unlike set.remove(), the discard() method does not raise
    an exception when an element is missing from the set.

In [46]:
fruits = {"apple", "banana", "apricot", "manga"}
print( fruits.remove("manga") )

None

In [39]:
fruits = {"apple", "banana", "apricot", "manga"}
print(fruits)
fruits.remove("manga")
fruits.add("mango")
print(fruits)

{'apricot', 'banana', 'manga', 'apple'}
{'apricot', 'banana', 'apple', 'mango'}

In [47]:
# We can remove an item with `.remove()`
fruits = {"apple", "banana", "apricot", "mango"}

fruits.remove("mango")
# print( fruits.remove("mango") )  #returns None

print(fruits)

{'apricot', 'banana', 'apple'}

#### `.remove()` VS `.discard()`

In [48]:
#Compare .remove()
fruits = {"apple", "banana", "apricot"}
# fruits.remove("mango")

KeyError: 'mango'

In [49]:
# with .discard() 
fruits = {"apple", "banana", "apricot"}
fruits.discard("mango") #no key error

In [ ]:
# do a help(set.discard) and a help(set.remove)
# help(set.discard)
# help(set.remove)

#### set membership with `in`

In [50]:
# 'membership' of a set with `in`
# a set: 'fruits'
fruits = {"apple", "orange", "banana", "grape"}

# Check if "apple" and "cucumber" are in the set
print(   "apple" in fruits)     # True
print("cucumber" in fruits)     # False

True
False

#### set `update()` with another set or iterable

In [52]:
x = {1,2,3,4}
y = {2,4,6,8}
print(f"x: start: {x}")
print(id(x), x)
print(".update() updates the current set adding <no-duplicates> ")
x.update(y)
print(f"x: after: {x}")
print(id(x), x)

x: start: {1, 2, 3, 4}
1648030252416 {1, 2, 3, 4}
.update() updates the current set adding <no-duplicates>
x: after: {1, 2, 3, 4, 6, 8}
1648030252416 {1, 2, 3, 4, 6, 8}

In [53]:
# Also works with any other iterable.
x = {1,2,3,4}
x.update("abcd")
print(x)

{1, 2, 3, 4, 'a', 'b', 'c', 'd'}

#### union and intersection with `|` and `&`
> but do a `dir(set)` also

In [55]:
# Sets in Python are modelled after sets in maths, and support the union and intersection operations:
small_integers = {1, 2, 3, 4}
even_integers  = {2, 4, 6, 8}

union = small_integers | even_integers  # Note the pipe symbol
print(union)  # The union is the set of elements in EITHER of the two original sets

intersection = small_integers & even_integers  # Note the ampersand (and) symbol
print(intersection)  # The intersection is the set of elements in BOTh of the two original sets

{2, 4}

In [73]:
small_integers = {1, 2, 3, 4}
even_integers  = {2, 4, 6, 8}

small_integers.difference( even_integers )

{1, 3}

In [ ]:
# dir(set)

In [62]:
#What else can we do:
# dir(set) # uncomment, run and explore with help(set.update), for example
help(set.difference)

Help on method_descriptor:

difference(...)
    Return the difference of two or more sets as a new set.

    (i.e. all elements that are in this set but not the others.)

In [64]:
s = {"a", "b", "c"}
t = {"a", "b"}

t.issubset(s)   #True
s.issuperset(t) #True
s.difference(t)

{'c'}

In [67]:
s = { 7 }
t = {"7"}

s.difference(t)

{7}